.mainStyle {
    background: linear-gradient(#23b1b6, #8c52ff);
    display: flex;
    flex-direction:column;
}

.logo {
    width: 500px;
    height: 100px;
    background-image: url('../pics/getloudblue.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 130vh;
}

.mainContainerRotate{
    width: 100vw;
    height: 210vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.infoContainer{
    width: 40vw;
    display: flex;
    justify-content: center;
}
.infoContainerRotate{
    width: 40vw;
    display: flex;
    align-items:flex-start;
    justify-content: flex-end;
}
.info{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    align-items: center;
}
.infoCard{
    background: linear-gradient(#f69292, #feb47b);
}
.Controls{
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

#intervalSwitch{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

#rotationbtn{
    width: 15vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    font-size: 14px;
    font-weight: bold;
}

#pickTitle {
    color: black;
    font-weight: bold;
}

#pickTitle:hover {
    background-color: #83d88d;
}

.stringfretmodal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stringsFretsBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 7%;
    background-color: rgba(255, 255, 255, 0.9);
    width: fit-content;
    height: fit-content;
}

.stringFretController {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

#modalExit {
    color: black;
    background-color: red;
}

.stringController {
    height: 16vh;
    width: 15vw;
}

#stringHelperText {
    color: blue
}

.fretsController {
    width: 15vw;
    height: 16vh;
}

#fretHelperText {
    color: blue;
}

.scalesBox {
    display: flex;
    flex-direction: row;
}

.scalesSearchContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 7%;
    background-color: rgba(255, 255, 255, 0.9);
    width: fit-content;
    height: fit-content;
}

.scaleSelectorController {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    width: fit-content;
    height: fit-content;
}

.keyController {
    width: 25vw;
    height: 16vh;

}

#keyHelperText {
    color: blue;
}

.scaleController {
    width: 25vw;
    height: 16vh;
}

#scaleHelperText {
    color: blue;
}

.searchResults {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: fit-content;
}

.searchResultsContainer {
    display: flex;
    flex-wrap: wrap;
}

#searchResultsButtons {
    color: black;
    font-weight: bold;
    font-size: 13px;
    flex: 1 0 calc(33.33% - 20px);
    height: 10vh;
}

.controls {
    display: flex;
    flex-direction: row;
    height: 20px;
}

.scaleTitle{
    text-align: center;
}

.openNoteSelector {
    width: 4vw;
    height: 7vh;
    border-bottom: 1px solid black;
}
.openNoteSelectorRotate {
    transform: rotate(-90deg);
    width: 3.5vw;
    height: 7vh;
    border-bottom: px solid black;
}

.fretboardHolder {
    width: 100vw;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.fretboardHolderRotate{
    width: 50vw;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fretboard {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
}

.fretboardRotate{
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    transform: rotate(90deg);
}

.stringMapping {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: max-content;
    width: max-content;
}

#openNotePlayable {
    margin: 0px;
}

.fretboard_grid {
    display: grid;
}

.string {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    border-left: 7px solid black;
}

.hr {
    grid-column: 1;
    grid-row: 1;
    place-self: center;
    z-index: 1;
    background-color: grey;
    width: 100%;
}

.individualNotes {
    height: max-content;
    width: max-content;
    background-color: #775037;
    position: relative;
    width: 3vw;
    height: 7vh;
    border-right: 8px ridge rgb(209, 205, 205);
    display: flex;
    justify-content: center;
    align-items: center;
}

.individualNotesOddFret {
    display: flex;
    justify-content: center;
    align-items: center;
}

#noteToggle {
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75%;
    width: 25px;
    height: 25px;
    place-self: center;
    z-index: 1;
}

#noteToggleRotate {
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75%;
    width: 25px;
    height: 25px;
    place-self: center;
    z-index: 1;
    transform: rotate(-90deg);
}

.fretInlay {
    background-color: black;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#resetFretboardBtn{
    width:fit-content;
    color: black;
    font-weight: bold;
}
#resetFretboardBtn:hover {
    background-color: #89D1D6;
}