.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20px;
}
.openNotes {
    background-color: bisque;
}

.openNoteSelector {
    height: 7vh;
    border-radius: 15%;
    background: none;
}

.stringMapping {
    display: flex;
    flex-direction: row;
}

.fretboardHolder{
    position: relative;
    display: flex;
    flex-direction: column;
}

.frets {
    display: flex;
    align-items: center;
    border-left: 5px solid black;
    position: relative;
}

.frets::before {
    content: '';
    position: absolute;
    height: max-content;
    border-top: 3px solid rgb(70, 69, 69);
    top: 50%; 
    width: 100%;
    z-index: 1;
}

.slider {
    background-color: rgba(201, 243, 255, 0.4);
    pointer-events: fill;
    position: absolute;
    color: transparent;
    text-orientation: upright;
}

#sliderRangeNoAnim{
    color: transparent;
}

.sliderRangeInput{
    width: max-content;
    animation: tutorial 5s;
}

@keyframes tutorial {
   0% {
        background: red;
        color: black;
      }
    100% {
        background: none;
        border: none;
      }
}


.slider:hover {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
}


.individualNotes {
    border-radius: 5%;
    height: max-content;
    width: max-content;
    background-color: #efc3a8;
    position: relative;
    width: 3vw;
    height: 7vh;
    border-right: 4px solid rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}

.individualNotesOddFret {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#noteToggle {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75%;
    width: 25px;
    height: 25px;
    z-index: 2;
}

.fretInlay {
    background-color: black;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
}